{% comment %}
  If a valid comment is submitted, 1 is added to the number_of_comments even if awaiting moderation.

  #comments is a required ID and is used as an anchor link by Shopify.
{% endcomment %}
{% assign number_of_comments = article.comments_count %}

{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<article itemscope itemtype="http://schema.org/Article">

  {% if article.image %}
    {{ article | img_url: '1024x1024' | img_tag: article.title }}
  {% endif %}

  <header>
    <h1>{{ article.title }}</h1>
    {% include '__date', date_time: article.published_at %}
    <p>{{ 'blogs.article.author_on_date_html' | t: author: article.author, date: date }}</p>
  </header>

  <div class="rte" itemprop="articleBody">
    {{ article.content }}
  </div>

  {% if article.tags.size > 0 %}
    <ul>
      <li>
        <span>{{ 'blogs.article.tags' | t }}:</span>
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </li>
    </ul>
  {% endif %}

  {% include '__social-sharing' %}

  {% if blog.comments_enabled? %}
    {% include 'article__comments-list' %}
    {% include 'article__comments-form' %}
  {% endif %}

</article>
