<!-- /templates/cart.liquid -->
{% if cart.item_count > 0 %}

  <h1>{{ 'cart.general.title' | t }}</h1>
  <form action="/cart" method="post" novalidate>
    <table class="responsive-table">
      <thead class="small--hide">
        <th colspan="2">{{ 'cart.label.product' | t }}</th>
        <th>{{ 'cart.label.price' | t }}</th>
        <th>{{ 'cart.label.quantity' | t }}</th>
        <th>{{ 'cart.label.total' | t }}</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr class="responsive-table__row">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}">
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}">
                {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <small>{{ item.variant.title }}</small>
              {% endunless %}

              <p>{{ item.vendor }}</p>

              {% comment %}
                Optional, loop through custom product line items if available

                Line item properties come in as having two parts. The first part will be passed with the default form,
                but p.last is the actual custom property and may be blank. If it is, don't show it.

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
            </td>
            <td data-label="{{ 'cart.label.price' | t }}">
              <span>
                {{ item.price | money }}
              </span>
            </td>
            <td data-label="{{ 'cart.label.quantity' | t }}">
              <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
            </td>
            <td data-label="{{ 'cart.label.total' | t }}">
              <span>
                {{ item.line_price | money }}
              </span>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      {% if settings.cart_notes_enable %}
        <div>
          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        </div>
      {% endif %}
      <div>
        <p>{{ 'cart.general.subtotal' | t }}</p>
        <p>{{ cart.total_price | money }}</p>
        <p>{{ 'cart.general.shipping_at_checkout' | t }}</p>
        <input type="submit" name="update" value="{{ 'cart.general.update' | t }}">
        <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">
      </div>
    </div>
  </form>
{% else %}
  <h1>{{ 'cart.general.title' | t }}</h1>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}
