{% paginate collection.products by 12 %}

  <header>
    <h1>{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="rte">
        {{ collection.description }}
      </div>
    {% endif %}

    {% if collection.all_tags.size > 0 %}
      <ul>
        {% for tag in collection.all_tags %}
          {% if current_tags contains tag %}
            <li class="active">
              {{ tag | link_to_remove_tag: tag }}
            </li>
          {% else %}
            <li>
              {{ tag | link_to_tag: tag }}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </header>

  <div>
    {% for product in collection.products %}
      {% include '__product-card' %}
    {% else %}
      {% if collection.handle == 'all' %}
        {% unless onboardingLoaded %}
          {% comment %}
            Only load onboarding styles if they have not already been loaded.
          {% endcomment %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign onboardingLoaded = true %}
        {% endunless %}

        {% include 'onboarding__product-card' %}
      {% else %}
        <div>
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  {% include '__pagination' %}

{% endpaginate %}
