<h2>{{ 'homepage.sections.featured_title' | t }}</h2>
{% assign featured_collection_index = 1 %}
{% for collection in collections limit:5 %}
  <div>
    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">
      {% if collection.image %}
        {{ collection | img_url: 'large' | img_tag: collection_title }}
      {% else %}
        {{ collection.products.first | img_url: 'large' | img_tag: collection_title }}
      {% endif %}
    </a>
    <p>
      <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ collection.title }}</a>
    </p>
  </div>
{% endfor %}

{% if shop.collections_count <= 1 %}
  {% unless onboardingLoaded %}
    {% comment %}
      Only load onboarding styles if they have not already been loaded.
    {% endcomment %}
    {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
    {% assign onboardingLoaded = true %}
  {% endunless %}
  <div class="helper-section">
    <div class="helper-note">
      <span class="helper-icon"></span>
      <h3>{{ 'homepage.onboarding.modal_title' | t }}</h3>
      <p>{{ 'homepage.onboarding.no_collections_html' | t }}</p>
      <p><a class="admin-btn-primary" href="/admin/custom_collections">{{ 'homepage.onboarding.add_collection' | t }}</a></p>
    </div>

    <div class="helper-content">
      {% for i in (1..5) %}
        <div>
          <a href="#">
            {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
            {{ imageUrl | img_tag }}
          </a>
          <p>
            <a href="#">{{ 'homepage.onboarding.collection_title' | t }}</a>
          </p>
          <p>{{ 'collections.general.items_with_count' | t: count: i }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}

<hr>

<h2>{{ 'homepage.sections.frontpage_title' | t }}</h2>
{% for product in collections.frontpage.products limit:4 %}
  <div>
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>

    <p>
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </p>
    <p>
      {% comment %}
        You can show a leading 'from' or 'up to' by checking 'product.price_varies'
        if your variants have different prices.
      {% endcomment %}
      {% if product.compare_at_price > product.price %}
        {% if product.price_varies %}
          {% assign sale_price = product.price | money %}
          {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
        {% else %}
          <strong>{{ 'products.product.on_sale' | t }}</strong>
          {{ product.price | money }}
        {% endif %}
        <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
        <s>{{ product.compare_at_price | money }}</s>
      {% else %}
        {% if product.price_varies %}
          {% assign price = product.price | money %}
          {{ 'products.product.from_text_html' | t: price: price }}
        {% else %}
          {{ product.price | money }}
        {% endif %}
      {% endif %}

      {% unless product.available %}
        <strong>{{ 'products.product.sold_out' | t }}</strong>
      {% endunless %}
    </p>
  </div>
{% else %}
  {% comment %}
    If collection is empty, show onboarding state
    For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
  {% endcomment %}
  {% unless onboardingLoaded %}
    {% comment %}
      Only load onboarding styles if they have not already been loaded.
    {% endcomment %}
    {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
    {% assign onboardingLoaded = true %}
  {% endunless %}

  <div class="helper-section">
    <div class="helper-note">
      <span class="helper-icon"></span>
      <h3>{{ 'homepage.onboarding.modal_title' | t }}</h3>
      <p>{{ 'homepage.onboarding.no_products_html' | t }}</p>
      <p><a class="admin-btn-primary" href="/admin/collections?tutorial=Frontpage">{{ 'homepage.onboarding.add_product' | t }}</a></p>
    </div>

    <div class="helper-content">
      {% for i in (1..5) %}
        <div>
          <a href="/admin/products">
            {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ i }}.png{% endcapture %}
            {{ imageUrl | img_tag }}
          </a>
          <p><a href="/admin/products">{{ 'homepage.onboarding.product_title' | t }}</a></p>
          <p>$19.99</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}

{% if settings.home_page_content != blank %}
  <hr>
  <div class="rte">
    {{ pages[settings.home_page_content].content }}
  </div>
{% endif %}
