{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<h1>{{ page_title }}</h1>

{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
  {% capture title %}{{ collection.title | escape }}{% endcapture %}

  <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">
    {% if collection.image %}
      {{ collection | img_url: '480x480' | img_tag: title }}
    {% else %}
      {{ collection.products.first | img_url: '480x480' | img_tag: title }}
    {% endif %}
  </a>

  <p>
    <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}">{{ collection.title }}</a>
  </p>

  {% endunless %}
{% endfor %}
