{% comment %}
  Note: if you use option_selection.js, your `select` tag will be overwritten, meaning what you
  have inside `option` will not reflect what you coded below.
{% endcomment %}

<div itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  {% include 'product__images' %}

  <h1>{{ product.title }}</h1>
  <p>{{ product.vendor }}</p>

  {% include 'product__add-to-cart' %}

  <div class="rte">
    {{ product.description }}
  </div>

  {% include '__social-sharing' %}
</div>
