{% comment %}
  Display pricing in a consistent manner anywhere a product is displayed
{% endcomment %}

{% if product.compare_at_price > product.price %}

  {% if product.price_varies %}
    {% assign sale_price = product.price | money %}
    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
  {% else %}
    <strong>{{ 'products.product.on_sale' | t }}</strong>
    {{ product.price | money }}
  {% endif %}

{% else %}

  {% if product.price_varies %}
    {% assign price = product.price | money %}
    {{ 'products.product.from_text_html' | t: price: price }}
  {% else %}
    {{ product.price | money }}
  {% endif %}

{% endif %}

{% if product.compare_at_price > product.price %}
  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
  <s>{{ product.compare_at_price | money }}</s>
{% endif %}

{% unless product.available %}
  <strong>{{ 'products.product.sold_out' | t }}</strong>
{% endunless %}
