{% assign social_handle = social | handleize %}
{% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
{% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

{% if settings[social_link] != blank %}
  <li>
    <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
      {% include social_icon %}
      <span class="icon__fallback-text">{{ social }}</span>
    </a>
  </li>
{% endif %}
