{% capture permalinkURL %}{{ shop.url }}{% endcapture %}
{% capture shareTitle %}{{ page_description | url_param_escape }}{% endcapture %}

{% comment %}
  Template specific overrides
{% endcomment %}
{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif template == 'password' %}
  {% capture permalinkURL %}{{ shop.url }}{% endcapture %}
  {% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}

<div class="social-sharing" data-permalink="{{ permalinkURL }}">

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="social-sharing__link">
      {% include 'icon-facebook' %}
      {{ 'general.social.share_on_facebook' | t }}
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}" class="social-sharing__link">
      {% include 'icon-twitter' %}
      {{ 'general.social.share_on_twitter' | t }}
    </a>
  {% endif %}

  {% if template contains 'product' %}

    {% if settings.share_pinterest %}
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product | img_url: '1024x1024' }}&amp;description={{ shareTitle }}" class="social-sharing__link">
        {% include 'icon-pinterest' %}
        {{ 'general.social.share_on_pinterest' | t }}
      </a>
    {% endif %}

    {% if settings.share_fancy %}
      <a target="_blank" href="//fancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle }}&amp;Category=Other&amp;ImageURL={{ product | img_url: '1024x1024' }}" class="social-sharing__link">
        {% include 'icon-fancy' %}
        {{ 'general.social.share_on_fancy' | t }}
      </a>
    {% endif %}

  {% endif %}

  {% if settings.share_google %}
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="social-sharing__link">
      {% include 'icon-google-plus' %}
      +1
    </a>
  {% endif %}

</div>
