{% form 'new_comment', article %}
  <h3>{{ 'blogs.comments.title' | t }}</h3>

  {{ form.errors | default_errors }}

  <label for="CommentAuthor" class="label-hidden">
    {{ 'blogs.comments.name' | t }}
  </label>
  <input type="text"
    name="comment[author]"
    id="CommentAuthor"
    class="{% if form.errors contains 'author' %} input--error{% endif %}"
    placeholder="{{ 'blogs.comments.name' | t }}"
    value="{{ form.author }}"
    autocapitalize="words">

  <label for="CommentEmail" class="label-hidden">
    {{ 'blogs.comments.email' | t }}
  </label>
  <input type="email"
    name="comment[email]"
    id="CommentEmail"
    class="{% if form.errors contains 'email' %} input--error{% endif %}"
    placeholder="{{ 'blogs.comments.email' | t }}"
    value="{{ form.email }}"
    spellcheck="false"
    autocapitalize="off">

  <label for="CommentBody" class="label-hidden">
    {{ 'blogs.comments.message' | t }}
  </label>
  <textarea
    name="comment[body]"
    id="CommentBody"
    class="{% if form.errors contains 'body' %} input--error{% endif %}"
    placeholder="{{ 'blogs.comments.message' | t }}">
    {{ form.body }}
  </textarea>

  {% if blog.moderated? %}
    <p>{{ 'blogs.comments.moderated' | t }}</p>
  {% endif %}

  <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
{% endform %}
