{% if article.image %}
  {{ article | img_url: '1024x1024' | img_tag: article.title }}
{% endif %}

<header>
  <h1>{{ article.title }}</h1>
  {% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
  {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}
  <p>{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>
</header>

<div class="rte" itemprop="articleBody">
  {{ article.content }}
</div>

{% if article.tags.size > 0 %}
  <ul>
    <li>
      <span>{{ 'blogs.article.tags' | t }}:</span>
      {% for tag in article.tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </li>
  </ul>
{% endif %}

{% include '__social-sharing' %}
