<h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

{% capture author %}<strong>{{ article.author }}</strong>{% endcapture %}
{% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: format: 'month_day_year' }}</time>{% endcapture %}

<p>{{ 'blogs.article.author_on_date_html' | t: author: author, date: date }}</p>

{% if article.image %}
  <a href="{{ article.url }}">
    {{ article | img_url: '1024x1024' | img_tag: article.title }}
  </a>
{% endif %}

<div class="rte">
  {% if article.excerpt.size > 0 %}
    {{ article.excerpt }}
  {% else %}
    <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
  {% endif %}
</div>

{% if blog.comments_enabled? or article.tags.size > 0 %}
  <ul>
    {% if blog.comments_enabled? %}
      <li>
        <a href="{{ article.url }}#comments">
          {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
        </a>
      </li>
    {% endif %}

    {% if article.tags.size > 0 %}
      <li>
        <span>{{ 'blogs.article.tags' | t }}:</span>
        {% for tag in article.tags %}
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </li>
    {% endif %}
  </ul>
{% endif %}

<p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} &rarr;</a></p>
