<!-- /snippets/comment.liquid -->
<div class="comment__content rte">
  {{ comment.content }}
</div>
<div class="comment__meta">
  {% capture author %}<strong>{{ comment.author }}</strong>{% endcapture %}
  {% capture date %}<strong><time datetime="{{ comment.created_at | date: '%Y-%m-%d' }}">{{ comment.created_at | date: format: 'month_day_year' }}</time></strong>{% endcapture %}
  {{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}
</div>
