{% form 'recover_customer_password' %}
  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <span class="hide reset-password-success"></span>
  {% endif %}

  <label for="RecoverEmail" class="label-hidden">
    {{ 'customer.recover_password.email' | t }}
  </label>
  <input type="email"
    name="email"
    id="RecoverEmail"
    placeholder="{{ 'customer.recover_password.email' | t }}"
    spellcheck="false"
    autocapitalize="off">

  <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">

  <button type="button" id="HideRecoverPasswordLink">
    {{ 'customer.recover_password.cancel' | t }}
  </button>
{% endform %}
