{% form 'customer_login' %}
  <h1>{{ 'customer.login.title' | t }}</h1>

  {{ form.errors | default_errors }}

  <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
  <input type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

  {% if form.password_needed %}
    <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
    <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
  {% endif %}

  <p>
    <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
  </p>

  <p>
    <a href="/">{{ 'customer.login.cancel' | t }}</a>
  </p>

  <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>

  {% if form.password_needed %}
    <p>
      <a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a>
    </p>
  {% endif %}
{% endform %}
