{% form 'customer_address', customer.new_address %}
  <h2>{{ 'customer.addresses.add_new' | t }}</h2>

  <label for="AddressFirstNameNew">
    {{ 'customer.addresses.first_name' | t }}
  </label>
  <input type="text"
    name="address[first_name]"
    id="AddressFirstNameNew"
    value="{{ form.first_name }}">

  <label for="AddressLastNameNew">
    {{ 'customer.addresses.last_name' | t }}
  </label>
  <input type="text"
    name="address[last_name]"
    id="AddressLastNameNew"
    value="{{ form.last_name }}">

  <label for="AddressCompanyNew">
    {{ 'customer.addresses.company' | t }}
  </label>
  <input type="text"
    name="address[company]"
    id="AddressCompanyNew"
    value="{{ form.company }}">

  <label for="AddressAddress1New">
    {{ 'customer.addresses.address1' | t }}
  </label>
  <input type="text"
    name="address[address1]"
    id="AddressAddress1New"
    value="{{ form.address1 }}">

  <label for="AddressAddress2New">
    {{ 'customer.addresses.address2' | t }}
  </label>
  <input type="text"
    name="address[address2]"
    id="AddressAddress2New"
    value="{{ form.address2 }}">

  <label for="AddressCityNew">
    {{ 'customer.addresses.city' | t }}
  </label>
  <input type="text"
    name="address[city]"
    id="AddressCityNew"
    value="{{ form.city }}">

  <label for="AddressCountryNew">
    {{ 'customer.addresses.country' | t }}
  </label>
  <select
    name="address[country]"
    id="AddressCountryNew"
    data-default="{{ form.country }}">
    {{ country_option_tags }}
  </select>

  <div id="AddressProvinceContainerNew" style="display: none">
    <label for="AddressProvinceNew">
      {{ 'customer.addresses.province' | t }}
    </label>
    <select
      name="address[province]"
      id="AddressProvinceNew"
      data-default="{{ form.province }}">
    </select>
  </div>

  <label for="AddressZipNew">
    {{ 'customer.addresses.zip' | t }}
  </label>
  <input type="text"
    name="address[zip]"
    id="AddressZipNew"
    value="{{ form.zip }}"
    autocapitalize="characters">

  <label for="AddressPhoneNew">
    {{ 'customer.addresses.phone' | t }}
  </label>
  <input type="tel"
    name="address[phone]"
    id="AddressPhoneNew"
    value="{{ form.phone }}"
    pattern="[0-9\-]*">

  {{ form.set_as_default_checkbox }}
  <label for="address_default_address_new">
    {{ 'customer.addresses.set_default' | t }}
  </label>

  <input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}">
  <button type="button" class="text-link address-new-toggle">
    {{ 'customer.addresses.cancel' | t }}
  </button>

{% endform %}
