{% form 'recover_customer_password' %}
  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <span class="hide reset-password-success"></span>
  {% endif %}

  <label for="RecoverEmail" class="label--hidden">{{ 'customer.recover_password.email' | t }}</label>
  <input type="email" value="" name="email" id="RecoverEmail" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

  <p>
    <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
  </p>

  <button type="button" id="HideRecoverPasswordLink">{{ 'customer.recover_password.cancel' | t }}</button>
{% endform %}
