{% if item.featured_image %}
  <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
    {{ item.featured_image.src | img_url: '240x240' | img_tag: item.featured_image.alt }}
  </a>
{% endif %}

<h5>{{ item.title | link_to: item.url }}</h5>

{% if item.object_type == 'product' %}
  <p>
    {% if item.compare_at_price > item.price %}
      {% if item.price_varies %}
        {%- assign sale_price = item.price | money -%}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        {{ 'products.product.on_sale' | t }}
        <span itemprop="price">{{ item.price | money }}</span>
      {% endif %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s>{{ item.compare_at_price | money }}</s>
    {% else %}
      {% if item.price_varies %}
        {%- assign price = item.price | money -%}
        <span itemprop="price">{{ 'products.product.from_text_html' | t: price: price }}</span>
      {% else %}
        <span itemprop="price">{{ item.price | money }}</span>
      {% endif %}
    {% endif %}
    {% unless item.available %}
      {{ 'products.product.sold_out' | t }}
    {% endunless %}
  </p>
{% else %}
  <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
{% endif %}
