<footer role="contentinfo">
  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo, Fancy, Google Plus' | split: ', ' -%}
  <ul>
    {% for social in social_accounts %}
      {% include '__social-list-item' with social %}
    {% endfor %}
  </ul>

  {% unless shop.enabled_payment_types == empty %}
    {%- assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

    <ul class="payment-icons">
      {% for type in shop.enabled_payment_types %}
        {% if payment_icons_available contains type %}
          <li>
            {%- assign icon_name = type | prepend: 'icon-' -%}
            {% include icon_name %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endunless %}

  {% if menus.footer.links.size > 0 %}
    <ul>
      {% for link in menus.footer.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  <div>
    <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
  </div>
</footer>
