<!-- /templates/customers/activate_account.liquid -->

<div class="grid">
  <div class="section-header">
    <h1 class="section-header__title">{{ 'customer.activate_account.title' | t }}</h1>
    <p>{{ 'customer.activate_account.subtext' | t }}</p>
  </div>
  <div class="grid__item">
    {% form 'activate_customer_password' %}

      {{ form.errors | default_errors }}

      <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

      <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

      <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
      <input type="submit" class="btn" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
    {% endform %}
  </div>
</div>
