<!-- /templates/customers/addressess.liquid -->
{% comment %}

  Template note:
    - There are instances of inline JS below. Best practices advise separating this
      into an external JS file
    - There are separate 'add new' and 'edit' address forms

{% endcomment %}

{% paginate customer.addresses by 5 %}

<div class="grid">

  <div class="grid__item">
    <header class="section-header">
      <h1 class="section-header__title">{{ 'customer.account.title' | t }}</h1>
      <a href="#" class="btn" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.add_new' | t }}</a>
    </header>
  </div>

  <div class="grid__item">
    <p><a href="/account">{{ 'customer.account.return' | t }}</a></p>
  </div>

  <div class="grid__item">

    {% comment %}
      Add address form, hidden by default
    {% endcomment %}
    <div id="AddAddress" style="display: none;">
      {% form 'customer_address', customer.new_address %}
        <div class="grid">

          <div class="grid__item">
            <h2>{{ 'customer.addresses.add_new' | t }}</h2>
          </div>

          <div class="grid__item">
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
            <input type="text" id="AddressFirstNameNew" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
          </div>

          <div class="grid__item">
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
            <input type="text" id="AddressLastNameNew" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
          </div>

        </div>

        <div class="grid">

          <div class="grid__item">
            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
            <input type="text" id="AddressCompanyNew" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
            <input type="text" id="AddressAddress1New" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
            <input type="text" id="AddressAddress2New" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">
          </div>

        </div>

        <div class="grid">

          <div class="grid__item">
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
            <input type="text" id="AddressCityNew" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">
          </div>

          <div class="grid__item">
            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
            <select id="AddressCountryNew" class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
          </div>

          <div class="grid__item" id="AddressProvinceContainerNew" style="display:none">
            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
            <select id="AddressProvinceNew" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
            <input type="text" id="AddressZipNew" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
          </div>

          <div class="grid__item large--one-half">
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
            <input type="tel" id="AddressPhoneNew" class="input-full" name="address[phone]" value="{{ form.phone }}">
          </div>
        </div>

        <p>
          {{ form.set_as_default_checkbox }}
          <label for="address_default_address_new" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
        </p>

        <p><input type="submit" class="btn" value="{{ 'customer.addresses.add' | t }}"></p>
        <p><a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>

        <hr>
      {% endform %}
    </div>

    <div class="grid">
      <div class="grid__item">

        <h2>{{ 'customer.addresses.title' | t }}</h2>

        {% comment %}
          List all customer addresses with a unique edit form.
          Also add pagination in case they have a large number of addresses
        {% endcomment %}
        {% for address in customer.addresses %}

          <h3>
            {{ address.first_name | capitalize }} {{ address.last_name | capitalize }}
            {% if address == customer.default_address %}({{ 'customer.addresses.default' | t }}){% endif %}
          </h3>

          <p>
            {{ address.company }}<br>
            {{ address.street }}<br>
            {{ address.city | capitalize }}<br>
            {% if address.province_code %}
              {{ address.province_code | upcase }}<br>
            {% endif %}
            {{ address.zip | upcase }}<br>
            {{ address.country }}<br>
            {{ address.phone }}
          </p>
          <p>
            {{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }} |
            {{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}
          </p>

          <div id="EditAddress_{{ address.id }}" style="display:none;">
            {% form 'customer_address', address %}

              <h4>{{ 'customer.addresses.edit_address' | t }}</h4>

              <div class="grid">
                <div class="grid__item one-half small--one-whole">
                  <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                  <input type="text" id="AddressFirstName_{{ form.id }}" class="input-full" name="address[first_name]" value="{{ form.first_name }}" autocapitalize="words">
                </div>

                <div class="grid__item one-half small--one-whole">
                  <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                  <input type="text" id="AddressLastName_{{ form.id }}" class="input-full" name="address[last_name]" value="{{ form.last_name }}" autocapitalize="words">
                </div>
              </div>

              <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
              <input type="text" id="AddressCompany_{{ form.id }}" class="input-full" name="address[company]" value="{{ form.company }}" autocapitalize="words">

              <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
              <input type="text" id="AddressAddress1_{{ form.id }}" class="input-full" name="address[address1]" value="{{ form.address1 }}" autocapitalize="words">

              <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
              <input type="text" id="AddressAddress2_{{ form.id }}" class="input-full" name="address[address2]" value="{{ form.address2 }}" autocapitalize="words">

              <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
              <input type="text" id="AddressCity_{{ form.id }}" class="input-full" name="address[city]" value="{{ form.city }}" autocapitalize="words">

              <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
              <select id="AddressCountry_{{ form.id }}" class="input-full" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>

              <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                <select id="AddressProvince_{{ form.id }}" class="input-full" name="address[province]" data-default="{{ form.province }}"></select>
              </div>

              <div class="grid">
                <div class="grid__item one-half small--one-whole">
                  <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                  <input type="text" id="AddressZip_{{ form.id }}" class="input-full" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
                </div>

                <div class="grid__item one-half small--one-whole">
                  <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                  <input type="tel" id="AddressPhone_{{ form.id }}" class="input-full" name="address[phone]" value="{{ form.phone }}">
                </div>
              </div>

              <p>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_{{ form.id }}" class="inline">{{ 'customer.addresses.set_default' | t }}</label>
              </p>

              <p><input type="submit" class="btn" value="{{ 'customer.addresses.update' | t }}"></p>
              <p><a href="#" onclick="Shopify.CustomerAddress.toggleForm({{ form.id }}); return false;">{{ 'customer.addresses.cancel' | t }}</a></p>

              <hr>
            {% endform %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="grid__item">
    {% if paginate.pages > 1 %}
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}
  </div>
</div>
{% endpaginate %}
