{% comment %}
  There are separate 'add new' and 'edit' address forms.
  The add address form is hidden by default.
  The edit address form is rendered unique for each customer address.
{% endcomment %}

{% paginate customer.addresses by 5 %}

  <header>
    <h1>{{ 'customer.account.title' | t }}</h1>
    <button type="button" class="btn address-new-toggle">{{ 'customer.addresses.add_new' | t }}</button>
  </header>

  <p>
    <a href="/account">{{ 'customer.account.return' | t }}</a>
  </p>

  <div id="AddressNewForm" class="hide">
    {% include 'customers__add-address-form' %}
  </div>

  <h2>{{ 'customer.addresses.title' | t }}</h2>

  {% for address in customer.addresses %}
    {% include 'customers__address' with address %}

    <p>
      <button type="button" class="address-edit-toggle" data-form-id="{{ address.id }}">{{ 'customer.addresses.edit' | t }}</button>
      <button type="button" class="address-delete" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">{{ 'customer.addresses.delete' | t }}</button>
    </p>

    <div id="EditAddress_{{ address.id }}" class="hide">
      {% include 'customers__edit-address-form' %}
    </div>
  {% endfor %}

  {% include '__pagination' %}

{% endpaginate %}
