{% comment %}
  The JS method Slate.loginForms() will show or hide the recover password form. If customer
  accounts are optional, use a form with the parameter guest_login to allow the
  customer to check out as a guest instead of logging in to an account.
{% endcomment %}

<div class="form-success hide" id="ResetSuccess">
  {{ 'customer.recover_password.success' | t }}
</div>

<div id="CustomerLoginForm">
  {% include 'customers__login-form' %}
</div>

<div id="RecoverPasswordForm" class="hide">
  <h2>{{ 'customer.recover_password.title' | t }}</h2>
  <p>{{ 'customer.recover_password.subtext' | t }}</p>

  <div>
    {% include 'customers__recover-form' %}
  </div>
</div>

{% if shop.checkout.guest_login %}
  <h2>{{ 'customer.login.guest_title' | t }}</h2>

  {% form 'guest_login' %}
    <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
  {% endform %}
{% endif %}
