<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate class="cart">

    <h1>{{ 'cart.general.title' | t }}</h1>

    <div class="cart__row medium-down--hide cart__header-labels">
      <div class="grid">
        <div class="grid__item">
          <div class="grid">
            <div class="grid__item">
              {{ 'cart.label.product' | t }}
            </div>
          </div>
        </div>
        <div class="grid__item">
          <div class="grid--full">
            <div class="grid__item">
              {{ 'cart.label.price' | t }}
            </div>
            <div class="grid__item">
              {{ 'cart.label.quantity' | t }}
            </div>
            <div class="grid__item">
              {{ 'cart.label.total' | t }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
      Loop through products in the cart
    {% endcomment %}
    {% for item in cart.items %}
      <div class="cart__row">
        <div class="grid cart__row--table-large">

          <div class="grid__item">
            <div class="grid">

              <div class="grid__item">
                <a href="{{ item.url | within: collections.all }}" class="cart__image">

                  {% comment %}
                    More image size options at:
                      - http://docs.shopify.com/themes/filters/product-img-url
                  {% endcomment %}
                  <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </div>

              <div class="grid__item">
                <a href="{{ item.url }}">
                  {{ item.product.title }}
                </a>
                {% unless item.variant.title contains 'Default' %}
                  <br>
                  <small>{{ item.variant.title }}</small>
                {% endunless %}

                {% if settings.cart_vendor_enable %}
                  <p>{{ item.vendor }}</p>
                {% endif %}

                {% comment %}
                  Optional, loop through custom product line items if available

                  For more info on line item properties, visit:
                    - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                {% endcomment %}
                {% assign property_size = item.properties | size %}
                {% if property_size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      {{ p.first }}:

                      {% comment %}
                        Check if there was an uploaded file associated
                      {% endcomment %}
                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}

                      <br>
                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                  <small>{{ 'cart.general.remove' | t }}</small>
                </a>
              </div>

            </div>
          </div>

          <div class="grid__item">
            <div class="grid cart__row--table-large">

              <div class="grid__item">
                <span class="cart__mini-labels">{{ 'cart.label.price' | t }}</span>
                <span>{{ item.price | money }}</span>
              </div>

              <div class="grid__item">
                <span class="cart__mini-labels">{{ 'cart.label.quantity' | t }}</span>
                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
              </div>

              <div class="grid__item">
                <span class="cart__mini-labels">{{ 'cart.label.total' | t }}</span>
                <span>{{ item.line_price | money }}</span>
              </div>

            </div>
          </div>

        </div>
      </div>
    {% endfor %}

    <div class="cart__row">
      <div class="grid">
        {% comment %}
          Optional, add a textarea for special notes
            - Your theme settings can turn this on or off. Default is on.
            - Make sure you have name="note" for the message to be submitted properly
        {% endcomment %}
        {% if settings.cart_notes_enable %}
          <div class="grid__item">
            <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
            <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
          </div>
        {% endif %}
        <div class="grid__item">
          <p>
            <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
            <span class="cart__subtotal">{{ cart.total_price | money }}</span>
          </p>
          <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
          <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
          <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">

          {% if additional_checkout_buttons %}
            <div>{{ content_for_additional_checkout_buttons }}</div>
          {% endif %}
        </div>
      </div>

    </div>

  </form>

{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}
