<!-- /templates/password.liquid -->
{% comment %}
  This template is used to render your shop's password page. The password page is only seen if you choose to password protect your storefront.

  https://docs.shopify.com/themes/theme-development/templates/password-liquid

{% endcomment %}

{% layout none %}
<!doctype html>
<!--[if lt IE 9]><html class="template-password no-js lt-ie9" lang="{{ shop.locale }}"> <![endif]-->
<!--[if IE 9]><html class="ie9 template-password no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="template-password no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>{{ shop.name }}</title>

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

</head>

<body>
  <h1>{{ shop.name }}</h1>
  <p>
    {{ shop.password_message }}
  </p>
  {% form 'storefront_password' %}

    {{ form.errors | default_errors }}

    <label for="Password">Enter store using password: </label>
    <input type="password" name="password" id="Password" size="30" />
    <input type="submit" value="Enter" />

  {% endform %}
</body>
</html>
