<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid product-single">
    <div class="grid__item">
      <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div>

      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

          {% for image in product.images %}
            <li class="grid__item">
              <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

        </ul>
      {% endif %}
    </div>

    <div class="grid__item">
      <div class="product-single__meta">
        <h1 itemprop="name">{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          {% comment %}
            ID addToCartForm is a selector for the ajax cart plugin
          {% endcomment %}
          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form">

            {% comment %}
              Add product variants as a dropdown.
                - By default, each variant (or combination of variants) will display as its own <option>
                - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

              You can leverage jQuery to add a callback on page load and each time the select element changes:
                - Include option_selection.js (as seen at the bottom of this file)
                - This allows you to use JavaScript anytime the variant dropdown changes
                - This also separates out your variant options (ie. size, color, etc.) to separate select elements

              For more information on products with multiple options, visit:
                - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
            {% endcomment %}
            <select name="id" id="ProductSelect" class="product-form__variants">
              {% for variant in product.variants %}
                {% if variant.available %}

                  {% comment %}
                    Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                  {% endcomment %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>

            <span id="ProductPrice" class="product-form__price" itemprop="price">
              {{ current_variant.price | money }}
            </span>

            {% if product.compare_at_price_max > product.price %}
              <p class="product-form__price--compare">
                {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
              </p>
            {% endif %}

            <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__quantity">

            <button type="submit" name="add" id="AddToCart" class="product-form__cart-submit">
              <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
          </form>

        </div>

        <div class="product-single__description" itemprop="description">
          {{ product.description }}
        </div>
      </div>
    </div>

    <div class="grid__item">
      {% comment %}

        Use with theme settings:
        {% if settings.social_sharing_blog or settings.social_sharing_products %}
          {% include 'social-sharing' %}
        {% endif %}

      {% endcomment %}
      {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
      {% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}


      <div class="social-sharing" data-permalink="{{ permalinkURL }}">

        {% if settings.share_facebook %}
          <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
            <span class="icon icon-facebook" aria-hidden="true"></span>
            <span class="share-title">{{ 'general.social.share_on_facebook' | t }}</span>
            <span class="share-count">0</span>
          </a>
        {% endif %}

        {% if settings.share_twitter %}
          <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle }}" class="share-twitter">
            <span class="icon icon-twitter" aria-hidden="true"></span>
            <span class="share-title">{{ 'general.social.share_on_twitter' | t }}</span>
            <span class="share-count">0</span>
          </a>
        {% endif %}


        {% if settings.share_pinterest %}
          <a target="_blank" href="http://pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product.featured_image | product_img_url: '1024x1024' }}&amp;description={{ shareTitle }}" class="share-pinterest">
            <span class="icon icon-pinterest" aria-hidden="true"></span>
            <span class="share-title">{{ 'general.social.share_on_pinterest' | t }}</span>
            {% if settings.social_sharing_count %}
              <span class="share-count">0</span>
            {% endif %}
          </a>
        {% endif %}

        {% if settings.share_fancy %}
          <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | product_img_url: '1024x1024' }}" class="share-fancy">
            <span class="icon icon-fancy" aria-hidden="true"></span>
            <span class="share-title">{{ 'general.social.share_on_fancy' | t }}</span>
          </a>
        {% endif %}


        {% if settings.share_google %}
          <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google">
            <!-- Cannot get Google+ share count with JS yet -->
            <span class="icon icon-google" aria-hidden="true"></span>
            <span class="share-count">+1</span>
          </a>
        {% endif %}

      </div>
    </div>
  </div>
</div>
