<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Check to enforce respond.js
{% endcomment %}
{% assign respond_js_secret_key = shop.domain | md5 %}
{% unless search.terms == respond_js_secret_key %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 10 %}

  <div class="grid">
    <div class="grid__item">

      {% if search.performed %}
        {% if search.results_count == 0 %}
          <h1>{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
        {% else %}
          <h1>{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
        {% endif %}
      {% else %}
        <h1>{{ 'general.search.title' | t }}</h1>
      {% endif %}

      {% comment %}

        Search Bar

        More information:
         - http://docs.shopify.com/themes/liquid-variables/search

        To return only products in results:
          - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
          - Or manually add type=product to the search URL as a query parameter
          - Uncomment hidden input with value="product" below

      {% endcomment %}

      <form action="/search" method="get" class="search-bar" role="search">
        {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
        <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        <button type="submit" class="btn icon-fallback-text">
          <span class="icon icon-search" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
        </button>
      </form>

      {% if search.performed %}
        <div class="grid">
          {% for item in search.results %}
            {% comment %}
              Check if the product is on sale and set a variable to be used below.
            {% endcomment %}
            {% assign on_sale = false %}
            {% if item.compare_at_price > item.price %}
              {% assign on_sale = true %}
            {% endif %}

            {% comment %}
              Check if the product is sold out and set a variable to be used below.
            {% endcomment %}
            {% assign sold_out = true %}
            {% if item.available %}
              {% assign sold_out = false %}
            {% endif %}

            <!-- begin grid search results-->
            <div class="grid__item search-result">
              {% if item.featured_image %}
                <a href="{{ item.url | within: collection }}" title="{{ item.title | escape }}">
                  {{ item.featured_image.src | img_url: 'medium' | img_tag: item.featured_image.alt }}
                </a>
              {% endif %}

              <h5>{{ item.title | link_to: item.url }}</h5>

              {% if item.price %}
                <p>
                  {% if on_sale %}
                    {% if item.price_varies %}
                      {% assign sale_price = item.price | money %}
                      {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {% else %}
                      <strong>{{ 'products.product.on_sale' | t }}</strong>
                      <span itemprop="price">{{ item.price | money }}</span>
                    {% endif %}
                  {% else %}
                    {% if item.price_varies %}
                      {% assign price = item.price | money %}
                      <span itemprop="price">{{ 'products.general.from_text_html' | t: price: price }}</span>
                    {% else %}
                      <span itemprop="price">{{ item.price | money }}</span>
                    {% endif %}
                  {% endif %}
                  {% if sold_out %}
                    <br><strong>{{ 'products.product.sold_out' | t }}</strong>
                  {% endif %}
                  {% if on_sale %}
                    <br><s>{{ item.compare_at_price | money }}</s>
                  {% endif %}
                </p>
              {% else %}
                <p>{{ item.content | strip_html | truncatewords: 50 }}</p>
              {% endif %}
            </div>
            <!-- //grid search results-->

          {% endfor %}
        </div>

        {% if paginate.pages > 1 %}
          <div class="grid__item pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}

      {% endif %}

    </div>
  </div>

{% endpaginate %}

{% else %}
  {% include 'respond' %}
  {% layout none %}
{% endunless %}
