<!doctype html>
<!--[if IE 9]> <html class="ie9 supports-no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="supports-no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <header class="site-header page-width" role="banner">
    <div class="grid">
      <div class="grid__item">

        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with `h1` tag on homepage, div on other pages.
        {% endcomment %}
        {% if template == 'index' %}
          <h1 itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
          <a href="/" itemprop="url" class="site-header__logo">
            {% if settings.logo_use_image %}
              <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            {% else %}
              {{ shop.name }}
            {% endif %}
          </a>
        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}

      </div>

      <div class="grid__item">
        <div>
          <a href="/cart" class="site-header__cart">
            {% include 'icon-cart' %}
            {{ 'layout.cart.title' | t }}
            (<span id="CartCount">{{ cart.item_count }}</span>
            {{ 'layout.cart.items_count' | t: count: cart.item_count }}
            <span id="CartCost">{{ cart.total_price | money }}</span>)
          </a>
        </div>

        {% if shop.customer_accounts_enabled %}
          <div class="customer-login-links">

            {% if customer %}
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account">{{ 'layout.customer.account' | t }}</a>
              {% endif %}

              | {{ 'layout.customer.log_out' | t | customer_logout_link }}

            {% else %}
              {{ 'layout.customer.log_in' | t | customer_login_link }}
              | {{ 'layout.customer.create_account' | t | customer_register_link }}
            {% endif %}

          </div>
        {% endif %}

        <div class="site-header__search">
          <form action="/search" method="get" class="search-bar" role="search">
            {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}

            <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">

            <button type="submit">
              {% include 'icon-search' %}
              <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <nav class="page-width" role="navigation">
    <ul class="site-nav">
      {% for link in menus.main-menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if menus[child_list_handle].links != blank %}
          <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}">
            <a href="{{ link.url }}" class="site-nav__link">
              {{ link.title }}
              {% include 'icon-arrow-down' %}
            </a>
            <ul class="site-nav__submenu">
              {% for childlink in menus[child_list_handle].links %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li {% if link.active %}class="site-nav--active"{% endif %}>
            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>

  <main class="main-content" id="MainContent" role="main">
    {{ content_for_layout }}
  </main>

  <footer class="site-footer page-width" role="contentinfo">
    <div class="grid">
      <div class="grid__item">
        <ul class="list--inline">
          {% if settings.social_facebook_link != blank %}
            <li>
              <a href="{{ settings.social_facebook_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
                {% include 'icon-facebook' %}
                <span class="icon__fallback-text">Facebook</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
            <li>
              <a href="{{ settings.social_twitter_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
                {% include 'icon-twitter' %}
                <span class="icon__fallback-text">Twitter</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_pinterest_link != blank %}
            <li>
              <a href="{{ settings.social_pinterest_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
                {% include 'icon-pinterest' %}
                <span class="icon__fallback-text">Pinterest</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_instagram_link != blank %}
            <li>
              <a href="{{ settings.social_instagram_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
                {% include 'icon-instagram' %}
                <span class="icon__fallback-text">Instagram</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_tumblr_link != blank %}
            <li>
              <a href="{{ settings.social_tumblr_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
                {% include 'icon-tumblr' %}
                <span class="icon__fallback-text">Tumblr</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_youtube_link != blank %}
            <li>
              <a href="{{ settings.social_youtube_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
                {% include 'icon-youtube' %}
                <span class="icon__fallback-text">YouTube</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_vimeo_link != blank %}
            <li>
              <a href="{{ settings.social_vimeo_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
                {% include 'icon-vimeo' %}
                <span class="icon__fallback-text">Vimeo</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_fancy_link != blank %}
            <li>
              <a href="{{ settings.social_fancy_link }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
                {% include 'icon-fancy' %}
                <span class="icon__fallback-text">Fancy</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_google_plus_link != blank %}
            <li>
              <a href="{{ settings.social_google_plus_link }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
                {% include 'icon-google-plus' %}
                <span class="icon__fallback-text">Google Plus</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>

      {% unless shop.enabled_payment_types == empty %}
        {% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,google,interac,jcb,laser,litecoin,maestro,master,paypal,solo,stripe,switch,visa' | split: ',' %}
        <div class="grid__item">
          <ul class="list--inline payment-icons">
            {% for type in shop.enabled_payment_types %}
              {% if payment_icons_available contains type %}
                <li>
                  {% assign icon_name = type | prepend: 'icon-' %}
                  {% include icon_name %}
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endunless %}

      {% if menus.footer.links.size > 0 %}
        <div class="grid__item">
          <ul class="site-footer__linklist">
            {% for link in menus.footer.links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="grid__item">
        <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
      </div>
    </div>
  </footer>

  {% if template contains 'product' %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}

    <script>
      // Set a global variable for theme.js to use on product single init
      window.theme = window.theme || {};
      theme.moneyFormat = {{ shop.money_format | json }};
      theme.productSingleObject = {{ product | json }};
    </script>
  {% endif %}

  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
